<p id="notice"><%= notice %></p>

<h1>Listing Reserves</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Reserve time</th>
      <th>People</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @reserves.each do |reserf| %>
      <tr>
        <td><%= reserf.title %></td>
        <td><%= reserf.content %></td>
        <td><%= reserf.reser_time %></td>
        <td><%= reserf.people %></td>
        <td><%= link_to 'Show', reserf %></td>
        <td><%= link_to 'Edit', edit_reserf_path(reserf) %></td>
        <td><%= link_to 'Destroy', reserf, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
