<div class="main">
  <div class="menu_logo">
    <div class="hori_logo">
      <a href="/">
        <img src="/01_main/main_logo.png" class="logo">
        <img src="/program/hori_logo.png" class="logo_name">
      </a>
    </div>
    <div class="menu_bar">
      <a href="/main_page/intro">
        <div class="menu_hwahye area">
          <p>화혜</p>
        </div>
      </a>
      <a href="/main_page/info">
        <div class="menu_info area">
          <p>소식</p>
        </div>
      </a>
      <a href="/main_page/program">
        <div class="menu_program area">
          <p>프로그램</p>
        </div>
      </a>
      <a href="/main_page/road">
        <div class="menu_road area">
          <p>오시는길</p>
        </div>
      </a>
      <a href="/main_page/qna">
        <div class="menu_qna area">
          <p>문의하기</p>
        </div>
      </a>
    </div>
  </div>
  <div class="pro_content color_back">
    <div class="left_side">
      <div class="sub_menu">
        <a href="/main_page/program"><li><p>프로그램</p></li></a>
        <li><p>예약하기</p></li>
        <li><p>후기게시판</p></li>
      </div>
    </div>
    <div class="reserve_back">
      <div class="pro_intro">
        <table>
          <thead>
            <tr>
              <th>Title</th>
              <th>Content</th>
              <th>Reserve time</th>
              <th>People</th>
              <th colspan="4"></th>
            </tr>
          </thead>

          <tbody>
            <% @reserves.each do |reserf| %>
              <% if reserf.reser_type==1 %>
              <tr>
                <td><%= reserf.title %></td>
                <td><%= reserf.content %></td>
                <td><%= reserf.reser_time %></td>
                <td><%= reserf.booking %></td>
                <td><%= link_to 'Show', reserf %></td>
                <td><%= link_to 'Edit', edit_reserf_path(reserf) %></td>
                <td><%= link_to 'Destroy', reserf, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
